In [ ]:
import pandas as pd

In [ ]:
# Load the CSV file
file_path = "testbatting.csv"
df = pd.read_csv(file_path)

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.to_csv(file_path, index=False)

In [ ]:
# Remove rows where "Runs" column has 'DNB'
df = df[df['Runs'] != 'DNB']
df = df[df['BF'] != '0']
df = df[df['BF'] != '-']
df = df[df['BF'] != '']
# Optional: Reset the index after deletion
df = df.reset_index(drop=True)
# Save the cleaned DataFrame back to the same file (overwrite)
df.to_csv(file_path, index=False)

In [ ]:
# added new column to track not out.# Create a 'Not Out' column: 1 if * present, else 0
df['Not Out'] = df['Runs'].apply(lambda x: 1 if '*' in str(x) else 0)
# Remove '*' from 'Runs' and convert to numeric
df['Runs'] = df['Runs'].str.replace('*', '', regex=False)
# Optional: Save back to the same CSV file
df.to_csv(file_path, index=False)

In [ ]:
df.drop('Mins', axis=1, inplace=True)
df.to_csv(file_path, index=False)

In [ ]:
# Replace blanks or '-' with 0 in '4s' and '6s' columns
df['4s'] = df['4s'].replace(['', '-'], '0')
df['6s'] = df['6s'].replace(['', '-'], '0')
df.to_csv(file_path, index=False)

In [ ]:
# Remove the leading 'v ' (v and space) from the Opposition column
df['Opposition'] = df['Opposition'].str.lstrip('v ').str.lstrip()
df.to_csv(file_path, index=False)

In [ ]:
df['BF'] = pd.to_numeric(df['BF'], errors='coerce').astype('Int64')
df['SR'] = pd.to_numeric(df['SR'], errors='coerce').astype('float64')
df['4s'] = pd.to_numeric(df['4s'], errors='coerce').astype('Int64')
df['6s'] = pd.to_numeric(df['6s'], errors='coerce').astype('Int64')
df['Innings'] = pd.to_numeric(df['Innings'], errors='coerce').astype('Int64')
df.to_csv(file_path, index=False)

In [ ]:
df['Runs'] = pd.to_numeric(df['Runs'], errors='coerce').astype('Int64')
df.to_csv(file_path, index=False)

In [ ]:
# Convert Date column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%d %b %Y')  # Example format: "8 Dec 2024"
df.to_csv(file_path, index=False)

In [ ]:
# Sort the data by Date in descending order
df = df.sort_values(by='Date', ascending=False)
df.to_csv(file_path, index=False)

In [ ]:
print(df.head())
print(df.info())

                  Name  Runs  BF  4s  6s     SR  Innings   Opposition  \
0   Mahmudul Hasan Joy     3  12   0   0  25.00        1  West Indies
11  Mahmudul Hasan Joy     0   5   0   0   0.00        3  West Indies
12       Shadman Islam    46  82   7   0  56.09        3  West Indies
9         Hasan Mahmud     5  10   1   0  50.00        1  West Indies
8         Taskin Ahmed     8  16   1   0  50.00        1  West Indies

      Ground       Date  Not Out
0   Kingston 2024-11-30        0
11  Kingston 2024-11-30        0
12  Kingston 2024-11-30        0
9   Kingston 2024-11-30        1
8   Kingston 2024-11-30        0
<class 'pandas.core.frame.DataFrame'>
Index: 3037 entries, 0 to 3036
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        3037 non-null   object
 1   Runs        3037 non-null   Int64
 2   BF          3037 non-null   Int64
 3   4s          3037 non-null   Int64
 4   6s          3037 non-null   Int64
 5   SR          3037 non-null   float64
 6   Innings     3037 non-null   Int64
 7   Opposition  3037 non-null   object
 8   Ground      3037 non-null   object
 9   Date        3037 non-null   datetime64[ns]
 10  Not Out     3037 non-null   int64
dtypes: Int64(5), datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 299.5+ KB
None